/* s04 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Lora', serif;
}

body {
    background-color: whitesmoke;
}

nav {
    text-align: center;
    padding: 1rem;
    background-color: slategray;
    color: white;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
}

a {
    text-decoration: none;
}

#landing {
    text-align: center;
    padding-bottom: 5%;
}

#profile {
    height: 250px;
    width: 250px;
    border-radius: 150px;
    border: 2px solid gray;
    margin-top: 40px;
    margin-bottom: 20px;
}

#name {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#title {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#intro {
    width: 400px;
    margin: auto;
}

#tools {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#tools-title {
    margin-bottom: 3rem;
}

.tools-img {
    height: 100px;
    width: 100px;
    border-radius: 150px;
    border: 2px solid slategray;
    margin-left:20px;
    margin-right: 20px;
}

/* s05 */
#projects {
    text-align: center;
}

.card {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    /* considering the margins and width, each card should be at least 33% of the full width of their parent. */
    padding: 20px;
    /* Allows us to sit cards beside each other but still adjust its dimensions. */
    text-align: center;
    display: inline-block;
}

.card-img {
    height: 300px;
    /* The image's width is then 80% of the full width of the card. */
    width: 80%;
    border-radius: 10px;
}

.card-title {
    margin: 15px;
}
#projects {
    padding-bottom: 4%;
}
#projects-heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

main {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    text-align: center;
}

header {
    text-align: center;
    padding: 2rem;
}

form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.contactSection {
    display: inline-block;
    width: 47%;
    margin-left: 1%;
    margin-right:1%;
    vertical-align: top;
    padding: 1rem;
    text-align: center;
}

iframe {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-img {
    height: 3%;
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1rem;
}

#social {
    text-align: center;
}

.form-input {
    display: block;
    width: 100%;
    border: 2px solid slategray;
    margin-top: 5px;
    margin-bottom: 5px;
}

#landing {
	background-image: 
		linear-gradient(rgba(245, 246, 252, 0.30), rgba(126, 138, 165, 0.719)),
		url(https://i.imgur.com/KISza2z.jpg)
	;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

body {
    background-image: 
    linear-gradient(rgba(242, 242, 242, 0.737), rgba(89, 98, 120, 0.498)),
    url(https://i.imgur.com/3KhqfUd.jpg)
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
